.shadow-light-bottom{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 5px 10px;
}
div > .width90{
    width: 90%;
}
.story-shadow-all{
    box-shadow: rgba(97, 97, 97, 0.2) 0px 2px 8px;
}
div > .story-shadow-all-high{
    box-shadow: rgba(2, 2, 2, 0.2) 0px 2px 8px;
}
.scroll-none::-webkit-scrollbar {
    display: none;
}
.small-scroll::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
.small-scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(218, 218, 218); 
    border-radius: 10px;
}
.small-scroll::-webkit-scrollbar-thumb {
    background: rgb(233, 233, 233); 
    border-radius: 10px;
}
/* .small-scroll::-webkit-scrollbar-thumb:hover {
    background: #cbcbcb; 
} */
div > .shadow-button {
    padding: 7px 1.7em;
    font-size: 12px;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid #e8e8e8;
    transition: all 0.3s;
    /* box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff; */
  }
  
div > .shadow-button:active {
    color: #666;
    box-shadow: inset 2px 2px 6px #c5c5c5, inset -2px -2px 6px #ffffff;
}
div > .button-press-shadow:active{
    color: #1858c6;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset 0 1.5px 4px #ffffff;
}
  /*  setting change color css */
  div .circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  div .toggle-button-switch {
    width: 50px;
    height: 25px;
    background-color: #ccc;
    border-radius: 25px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  div div .toggle-button-switch::after {
    content: '';
    width: 23px;
    height: 23px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 1px;
    transition: left 0.3s;
  }
  div .toggle-button-switch.active {
    background-color: #4ade80;
  }
  div .toggle-button-switch.active::after {
    left: 26px;
  }